@import "../../../../../theme";

.block {
  &__title {
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: $h5-font-size;

    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  &__content {
    margin-top: 1rem;

    @include media-breakpoint-up(md) {
      margin-top: 4rem;
    }
  }
}
