@import "../../../theme";

.footer {
  width: 100%;
  height: fit-content;
  padding: 1rem 1.25rem 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;

  &__text {
    color: $dark-grey-color;

    &--uppercase {
      text-transform: uppercase;
    }

    &--hover-effect {
      &:hover {
        cursor: pointer;
        color: $light-grey-color;
      }
    }

    &--copyright {
      font-size: 1.5rem;
      display: none;

      &::after {
        content: "";
        display: block;
        width: 4rem;
        height: 1px;
        background-color: $dark-grey-color;
        margin-left: 0.25rem;
      }

      &::before {
        content: "";
        width: 4rem;
        height: 1px;
        background-color: $dark-grey-color;
        margin-right: 0.25rem;
        display: block;
      }

      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
      }
    }
  }
}
