<footer class="footer">
  <span
    class="footer__text footer__text--with-border footer__text--uppercase footer__text--hover-effect"
    >css <br />
    is <br />
    awesome</span
  >
  <span class="footer__text footer__text--copyright">nabthat</span>
  <div class="footer__action-container">
    <div class="footer__action-list"></div>
    <app-button [bgHoverEffect]="false" [darkBorderColor]="true">
      Pokaż
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.5rem"
        height="1.5rem"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m7 10l5 5l5-5"
        />
      </svg>
    </app-button>
  </div>
</footer>
