@import "../../../theme";

.footer {
  width: 100%;
  height: fit-content;
  padding: 1rem 1.25rem 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;

  @include media-breakpoint-up(md) {
    height: 8.5rem;
  }

  &__square {
    position: absolute;
    border: 1px solid $dark-grey-color;
    width: 7.25rem;
    height: 7.25rem;

    &:hover {
      border-color: $hover-color;
      transform: rotate(360deg);
      transition: transform 1s;
    }
  }

  &__text {
    font-size: $h4-font-size;
    color: $dark-grey-color;

    &--uppercase {
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        font-size: $h3-font-size;
      }
    }

    &--hover-effect {
      &:hover {
        cursor: pointer;
        color: $light-grey-color;
      }
    }

    &--with-square {
      display: inline-flex;
      align-items: center;
    }

    &--copyright {
      display: none;

      &::after {
        content: "";
        display: block;
        width: 4rem;
        height: 1px;
        background-color: $dark-grey-color;
        margin-left: 0.25rem;
      }

      &::before {
        content: "";
        width: 4rem;
        height: 1px;
        background-color: $dark-grey-color;
        margin-right: 0.25rem;
        display: block;
      }

      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
      }
    }
  }
}
