@import "../../../theme";

.footer {
  width: 100%;
  height: fit-content;
  padding: 1rem 1.25rem 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;

  &__text {
    color: #282b31;

    &--uppercase {
      text-transform: uppercase;
    }
  }
}
