<app-block title="Blok pierwszy">
  <form>
    <app-radio-field
      name="category-getter-method"
      label="Opcja pierwsza"
      (input)="handleChangeCategoryGettingStrategy($event)"
      [value]="categoryGettingStrategies.first"
    />
    <app-radio-field
      name="category-getter-method"
      label="Opcja druga"
      (input)="handleChangeCategoryGettingStrategy($event)"
      [value]="categoryGettingStrategies.second"
    />
    <app-radio-field
      name="category-getter-method"
      label="Opcja trzecia"
      (input)="handleChangeCategoryGettingStrategy($event)"
      [value]="categoryGettingStrategies.random"
    />
  </form>
</app-block>
