@import "../../../../theme";

@keyframes zIndex {
  to {
    z-index: 1;
  }
}

:host {
  position: relative;

  &:hover .action-list {
    transform: translateY(0);
    animation-name: zIndex;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
  }

  &:hover .action-list-wrapper {
    width: max-content;
  }

  &:hover .action-list-toggle-btn {
    svg {
      transform: rotate(360deg);
    }
  }
}

.action-list-wrapper {
  padding-bottom: 2.8rem;
  position: absolute;
  bottom: 100%;
  right: 0;
  overflow: hidden;
  width: 0px;

  @include media-breakpoint-up(md) {
    padding-bottom: 2.7rem;
  }
}

.action-list {
  background-color: white;
  list-style: none;
  padding: 1rem;
  flex-direction: column;
  row-gap: 0.5rem;
  border-radius: 2px;
  width: max-content;
  display: flex;
  box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 16px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(100vh);
  transition: transform 1s;
  z-index: -1;
  position: relative;

  &__item {
    cursor: pointer;
    color: $dark-grey-color;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &:hover {
      color: $hover-color;
    }
  }
}

.action-list-toggle-btn {
  svg {
    transform: rotate(180deg);
  }
}
