@import "../theme";

.main {
  width: 100%;
  min-height: 100vh;
  padding: 6rem 1rem 1rem 1rem;
}

.block-list {
  display: flex;
  column-gap: 1rem;
  row-gap: 2rem;
  place-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;

  @include media-breakpoint-up(md) {
    column-gap: 5rem;
  }
}
