@import "../../../theme";

.btn {
  border: 1px solid $light-grey-color;
  color: $light-grey-color;
  padding: 0.5rem 2rem;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    border-color: #fff;
    color: #fff;
  }

  &--bg-hover-effect {
    &:hover {
      background-color: $hover-color;
    }
  }
}
