@import "../../../theme";

.block {
  &__title {
    font-size: 1rem;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  &__content {
    margin-top: 1rem;

    @include media-breakpoint-up(md) {
      margin-top: 4rem;
    }
  }
}
