@import "../../../theme";

.logo {
  width: 3rem;
  height: 3rem;
  background-color: $secondary-color;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $text-color;

  &:hover {
    background-color: $hover-color;
  }

  &__svg {
    width: 2rem;
    height: 2rem;
  }
}
