$text-color: #fff;
$primary-color: #0b0c10;
$secondary-color: #303030;
$body-background-color: #2a2d36;
$hover-color: #e98300;
$light-grey-color: #a4a7b6;
$dark-grey-color: #282b31;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin media-breakpoint-up($name) {
  $breakpoint: map-get($breakpoints, $name);

  @media (min-width: $breakpoint) {
    @content;
  }
}
